extends layout

block content
  .body-container
    .content
      h1 Guide list
      .guides-content
        each item in guides
          a(href ="/guide/#{item.id}") 
            h4 #{characters[item.character_id].name}
            img(src='#{characters[item.character_id].image}')
      br
      h2 Герои Paragon – Гайды и билды
      p В этом разделе вы найдете подробное описание способностей всех героев игры Paragon, рекомендованную тактику игры и набор карт. Мы собрали наиболее актуальные и работающие билды на каждого героя Paragon и научим пользоваться его способностями и потенциалом. Каждый гайд по герою Paragon включается в себя полное описание характеристик героя, рекомендованных карт, подробное описание тактики применения способностей и общие рекомендации по игре за каждого персонажа Paragon. Список героев Paragon позволит вам легко найти нужного персонажа. Также для каждого героя Paragon представлена индивидуальная колода карт. Здесь всегда появляются новые персонажи Paragon сразу после релиза.
      br
      h2 Колоды карт на героев Paragon
      p В каждом гайде по герою Paragon вы найдете самую актуальную и рекомендованную сборку карт от опытных игроков. Билд карт героев Paragon подойдет как начинающим игрокам, так и более продвинутым. Колода карт Paragon может отличаться от матча к матчу, ведь каждый раз мы будем сталкиваться с разными противниками. Ознакомиться со всеми картами игры и их характеристиками можно на этой странице. У нас вы найдете Paragon лучшие билды и сборки на героев. Топовые колоды Paragon от самых опытных игроков мы найдете именно у нас. В каждом индивидуальном гайде по герою Paragon мы расскажем вам какие карты покупать для наиболее эффективной реализации героя во время игры. Наши гайды помогут вам ответить на вопрос — как собирать персонажей в Paragon.

