extends layout

block content
  .body-container
    .content
      h2 Герои
      - each item in [0,1,2,3]
        p jopa #{item}  
    .heroes-links
      .row
        a(href='#')
          img(src='../img/11.jpg')
        a(href='#')
          img(src='../img/12.jpg')
        a(href='#')
          img(src='../img/13.jpg')
        a(href='#')
          img(src='../img/14.png')
        a(href='#')
          img(src='../img/15.jpg')
        a(href='#')
          img(src='../img/16.jpg')
      .row
        a(href='#')
          img(src='../img/21.jpg')
        a(href='#')
          img(src='../img/22.jpg')
        a(href='#')
          img(src='../img/23.jpg')
        a(href='#')
          img(src='../img/24.png')
        a(href='#')
          img(src='../img/25.jpg')
        a(href='#')
          img(src='../img/26.jpg')
      .row
        a(href='#')
          img(src='../img/31.jpg')
        a(href='#')
          img(src='../img/32.png')
        a(href='#')
          img(src='../img/33.jpg')
        a(href='#')
          img(src='../img/34.jpg')
        a(href='#')
          img(src='../img/35.jpg')
        a(href='#')
          img(src='../img/36.jpg')
      .row
        a(href='#')
          img(src='../img/41.jpg')
        a(href='#')
          img(src='../img/42.jpg')
        a(href='#')
          img(src='../img/43.jpg')
        a(href='#')
          img(src='../img/44.png')
        a(href='#')
          img(src='../img/45.jpg')
        a(href='#')
          img(src='../img/46.jpg')
    
    .content
      h2 Герои Paragon – Гайды и билды
      p В этом разделе вы найдете подробное описание способностей всех героев игры Paragon, рекомендованную тактику игры и набор карт. Мы собрали наиболее актуальные и работающие билды на каждого героя Paragon и научим пользоваться его способностями и потенциалом. Каждый гайд по герою Paragon включается в себя полное описание характеристик героя, рекомендованных карт, подробное описание тактики применения способностей и общие рекомендации по игре за каждого персонажа Paragon. Список героев Paragon позволит вам легко найти нужного персонажа. Также для каждого героя Paragon представлена индивидуальная колода карт. Здесь всегда появляются новые персонажи Paragon сразу после релиза.
      
    .content
      h2 Описание героев Paragon и их классов
      p Герои — это доступные для игры персонажи Paragon. Перед каждым матчем, вы выбираете героя, который наиболее подходит вашему стилю игры. Во время матча, ваш герой будет получать опыт и новые уровни, позволяя разблокировать способности и стать сильнее. Также в игре есть «Уровень карт», который повышается во время матча. Уровень карт определяет, как много очков вы можете потратить на карты. Вы также будете получать опыт для уровня своего аккаунта, чтобы получать новые карты, слоты для колод и скины героев, играя за определенного героя и повышая его мастерство. Чтобы лучше разобраться в уникальности каждого героя, мы создали для вас гайды по героям Paragon. Изучив все гайды, вы сможете определиться какой герой подойдет новичку.
      br
      p Все герои имеют свои уникальные способности и свои сильные и слабые стороны, которые раскрываются с длительностью матча. Ниже представлены все классы в игре Paragon и их описание.
      h4 Танк
      p Танки самые выносливые герои игры Paragon. Они стоят на передовой линии и помогают своей команде защитой и эффектами контроля, но чувствуют нехватку в исходящем уроне по сравнению с другими классами. Танки созданы для того, чтобы поглотить столько урона, сколько возможно, пока их союзники с высоким уроном смогут комфортно атаковать противника из-за спины танка – ведь они довольно уязвимы и легко могут погибнуть при открытой конфронтации. Главная задача любого танка – заставить противника атаковать себя, тем самым защищая своих союзникам и позволяя им беспрепятственно убивать врагов.
      h4 Боец
      p Бойцы – герои ближнего боя, которые сочетают в себе баланс защиты и способность наносить ощутимый урон. Они могут, как получать урон, так и наносить его в средней пропорции, что делает бойца мастером на все руки. Бойцы могут стать источником ощутимого постоянного урона с базовой атаки, идеально подходят для инициации сражения и могут выдержать некоторое количество урона во время боя. Бойцы слабы и уязвимы в боях на длинных дистанциях.
      h4 Поддержка
      p Поддержка – это герои, которые помогают своей команде, используя свои способности. Хотя их способности и не наносят много урона как способности кастеров, но они показывают наибольший показатель полезности и поддерживают эффективность всей команды во время боя. У героев поддержки небольшое значение здоровья и они могут быть очень уязвимы. Однако, они крайне полезны для команды, благодаря своим способностям с эффектами контроля, и могут сыграть решающую роль в командном сражении.
      h4 Убийца
      p Ассасины – это герои с высоким показателем мгновенного урона, которые специализируются на атаке уязвимых целей, вроде заклинателей и следопытов. Убийцы имеют низкий показатель здоровья, но это компенсируется их высокой мобильностью и изворотливостью. Их задача незаметно прокрасться к цели, мгновенно убить и бежать со всех ног.
      h4 Следопыт
      p Следопыт – это герои, которые полагаются на свою базовую атаку в отличии от способностей, что делает их отличным источником постоянного урона во время командного сражения. Следопыты имеют низкий показатель здоровья и не отличаются высокой мобильностью. Зато они чемпионы базовой атаки и наносят огромный урон левой кнопкой мыши. Следопыты – герои дальнего боя и не любят конфронтацию в ближнем бою.
      h4 Заклинатель
      p Заклинатели – это, в основном, герои с дистанционной атакой, которые фокусируются на своих мощных способностях нежели, чем на базовой атаке. Хоть они и чувствуют недостаток в выносливости, они компенсируют это высоким энергетическим уроном и полезностью от своих способностей. Заклинатели с легкостью могут уничтожать целые толпы миньонов и наносить массовый урон по группе вражеских героев. Они обладают низким показателем здоровья, и их базовая атака не отличается большим уроном.

    .content
      h2 Колоды карт на героев Paragon
      p В каждом гайде по герою Paragon вы найдете самую актуальную и рекомендованную сборку карт от опытных игроков. Билд карт героев Paragon подойдет как начинающим игрокам, так и более продвинутым. Колода карт Paragon может отличаться от матча к матчу, ведь каждый раз мы будем сталкиваться с разными противниками. Ознакомиться со всеми картами игры и их характеристиками можно на этой странице. У нас вы найдете Paragon лучшие билды и сборки на героев. Топовые колоды Paragon от самых опытных игроков мы найдете именно у нас. В каждом индивидуальном гайде по герою Paragon мы расскажем вам какие карты покупать для наиболее эффективной реализации героя во время игры. Наши гайды помогут вам ответить на вопрос — как собирать персонажей в Paragon.  