extends layout

block content
  .body-container
    .content
      .user-info
        h1 USER page 
        h2 #{title}
        h2 #{message}
        address
          p login: <span>#{user.login}</span>
          p password: <span>#{user.password}</span>