extends layout

block content
  .body-container
    .wiki-header
      .content
        h1 Wiki
        p Актуальная информация об игре, полезные стать и руководства для новичков и опытных игроков
        hr
    .wiki-content
      .content
        .wiki-pages
          h1 Wiki-страницы
          a(href='#')
            h2 Agora
            p Базовая информация об игре, карте и объектах на ней
          a(href='#')
            h2 Стремление
            p Один из важнейших параметров героя в Paragon
          a(href='#')
            h2 Сборщики
            p Для чего нужны сборщики, как и где их ставить.
          a(href='#')
            h2 Башни
            p Все о башнях в игре, их статистики и особенности
        .wiki-guides
          h1 Руководства и статьи
          a(href='#')
            h2 Гайд для новичка
            p Узнай все о геймплее и основных принципах игры от опытного игрока
          a(href='#')
            h2 Гайд по колоде карт
            p Основные принципы составления колоды карт в игре
          a(href='#')
            h2 Броня и пробивание
            p Как работают и взаимодействуют эти значения в игре
          a(href='#')
            h2 Позиционирование и вардинг
            p Как безопасно стоять на линии, как правильно ставить варды и пушить
        h4 Paragon википедия
        p О Paragon. Paragon это MOBA (Multiplayer Online Battle Arena) от разработчиков Epic Games, где две команды из 5 игроков сражаются друг против друга. Главная цель — уничтожить ядро противника, снося башни и доминируя над противником. Игра Paragon доступна на PC и PS4 и вышла в открытое бета тестирование 16 августа 2016. Paragon использует систему кросс плей или кросс платформу, где игроки на PC и PS4 могут играть вместе. Прогресс также синхронизируется на обеих платформах.
        br
        p Мы собрали здесь все о Paragon. Здесь вы найдете множество статей об игре, все секреты Paragon, различные руководства Paragon, гайды и подсказки. Вики Paragon предлагает вам получить исчерпывающую информацию по игре и быть в курсе всех ее тонкостей.
        br
        p Paragon wiki научит вас правильно составлять колоду карт: расскажем об основных принципах и законах. Новички смогут найти все необходимые познаний об основных принципах игры Paragon, ее механики и особенностях. Наши статьи расскажут вам как реализовывать различные классы в игре Paragon: что именно они должны делать на линиях, ка вести себя в бою и в мирное время. Также вы сможете найти информацию о самых важных статистиках и эффектах в игре Paragon: что именно каждый из них делает, как их правильно использовать и как против них бороться.
        br
        p База знаний Paragon также содержит в себе статьи узкого направления, которые представляют глубокий анализ различных аспектов игры, вплоть до математических формул и графиков. И новичку и продвинутому игроку будет очень полезно ознакомиться с подобными статьями, чтобы лучше понять суть игры и повысить свой уровень мастерства. Многие статьи написаны зарубежными опытными игроками, которые поделились секретами Paragon со всем сообществом.
        br
        p Вики Paragon это сборник наиболее востребованной информации. Что такое ингибиторы, сборщики и янтарь? Это главные особенности игры Paragon, которые требуют большого внимания для целостного понимания геймплея. Ведь только вооруженный знаниями игрок сможет стать профессионалом.
